.pie
{
  background-image: url(../imagenes/fondo_3.jpg);
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .cuerpo
 {
  background-image: url(../imagenes/fondo2.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position-y: center;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }  
 
 .encabezado
 {
  background-image: url(../imagenes/fondo_3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 } 


 .hrc
 {
  height: 2px;
  background-color: rgb(60, 154, 209)!important;
 }

.bg-dark
{
  background-color:rgba(0, 0, 0, 0.5)!important;
}

.bg-light
{
  background-color:#b2b3d3!important;
}

.bg-secondary
{
  background-color:#691a88!important;
}

.centrado
{
  text-align: center;
}
.titulo
{
  font-family: Georgia, 'Times New Roman', Times, serif; 
  font-style: oblique;
  font-weight: bold;
}




